# credentials フォルダ内のファイルを無視
bi_project/credentials/
ml_task/credentials/
ml_task/data/datasets/
ml_task/models/auto_ML/
ml_task/models/cos_sim/

# Python Bytecode Files
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# IDE/Editor Files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db